@-moz-document regexp('https://www\\.reddit\\.com/r/all.*') {
    .content {
        margin-left:80px !important;
        margin-right:80px !important;
        background: #F4F3EC !important;
        border: 7px solid #e7e7e7;
        font-weight: normal !important;
    }
    .listing-page.with-listing-chooser.hot-page.loggedin.listing-chooser-collapsed{
        background-color: #EAE9D7 !important;
        background-image: url(data:image/png;base64,R0lGODdhAwADAIACAOrmm+rntCwAAAAAAwADAAACA0SMVwA7) !important;
        font-family: charcoal !important;
        font-weight: normal !important;
        font-size: 9px !important;
        background-attachment: fixed !important;
    }
    #header, .listing-chooser.initialized, .footer-parent, .side{
        display: none !important;
    }

    .title {
        font-size: 13px !important;
    }

    .comments.may-blank, .option.active.login-required, .state-button.hide-button, .link-save-button.save-button A, .state-button.hide-button A, .report-button A, .score.unvoted, .score.likes, .nextprev A {
        font-weight: 100 !important;
    }

    .score.likes {
        color: #1f1f1f !important;
    }
    .arrow.up.login-required {
        /*background: url(data:image/gif;base64,R0lGODlhFAAUAIAAAAAAAL+/vyH5BAEAAAEALAAAAAAUABQAAAInjI+pGwAMnYNKSnqsxVrH7lVgl4zjt2EGqTahysIvN1Mxnbb6zi8FADs=);*/
        width: 20px !important;
        height: 20px !important;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAABlBMVEUAAAC6urpYMN6pAAAAAXRSTlMAQObYZgAAAClJREFUeNrNzaENADAMwLD5/6d7QKSSkgWa5O1Rg1qVKlWqVIn2/h/eG27oAHlT1Q7HAAAAAElFTkSuQmCC) !important;
    }
    .arrow.upmod {
        width: 20px !important;
        height: 20px !important;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAABlBMVEUAAAAfHx/yT17pAAAAAXRSTlMAQObYZgAAAClJREFUeNrNzaENADAMwLD5/6d7QKSSkgWa5O1Rg1qVKlWqVIn2/h/eG27oAHlT1Q7HAAAAAElFTkSuQmCC) !important;
    }
    .arrow.downmod {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAABlBMVEUAAAAfHx/yT17pAAAAAXRSTlMAQObYZgAAACZJREFUeAFjoA5gBINBLciIBrCJoqrFNAEhhimK33aEKLbAwx+4AFlAAHkRWQ/xAAAAAElFTkSuQmCC) !important;
        width: 20px !important;
        height: 20px !important;
    }
    .arrow.down.login-required {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAABlBMVEUAAAC6urpYMN6pAAAAAXRSTlMAQObYZgAAACZJREFUeAFjoA5gBINBLciIBrCJoqrFNAEhhimK33aEKLbAwx+4AFlAAHkRWQ/xAAAAAElFTkSuQmCC) !important;
        width: 20px !important;
        height: 20px !important;
    }
    .rank {
        margin-top: 21px !important;
    }

    #siteTable > DIV{
        border-top: 1px solid #e7e7e7 !important;
        border-left: 1px solid #e7e7e7 !important;
        border-right: 1px solid #e7e7e7 !important;
        border-bottom: 1px solid #e7e7e7 !important;
        margin-left:5px !important;
        margin-right: 5px !important;
        margin-bottom: 0px !important;
    }
    .thumbnail.may-blank.loggedin{
        margin-top: 2px !important;
    }

    .title.may-blank.loggedin    { color:#000000 !important; text-decoration:none !important; }
    .title.may-blank.loggedin:visited { color:#828282 !important; text-decoration:none !important; }

    .clearleft {
        visibility: hidden;
    }

    .tagline{
        float: right;
    }}
