@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("youtube.com") {
    
/*header*/
    #masthead-positioner {
    position: absolute !important;
}


    
/*left menu*/
    #appbar-guide-menu {
    position: absolute !important;
    height: auto !important;
    max-height: 100% !important;
    min-height: 10% !important;
}
    


/*recommended channels and widened feed*/
   .flex-width-enabled.flex-width-enabled-snap.site-center-aligned .content-alignment, .content-snap-width-1 .flex-width-enabled.flex-width-enabled-snap.site-center-aligned .content-alignment {
    width: 97%;
    min-width: 0px;
    max-width: none;
}
    .site-center-aligned .branded-page-v2-primary-col {
    border-width: 0px;
    background: none repeat scroll 0% 0% transparent;
    max-width: 100%;
    width: 100%;
}
    .site-center-aligned .branded-page-v2-secondary-col {
    padding-top: 0px;
    width: 0px;
    max-width: 0px;
    visibility: hidden;
    position: fixed;
}
    .yt-lockup-tile .yt-lockup-meta, .yt-lockup-tile .yt-lockup-description  {
    max-width: 93% !important;
}

    .site-center-aligned .browse-list-item-container:hover .compact-shelf .yt-uix-shelfslider-prev, .site-center-aligned .compact-shelf:hover .yt-uix-shelfslider-prev {
    left: -15px;
    border-left: 0px none;
}

    .site-center-aligned .browse-list-item-container:hover .compact-shelf .yt-uix-shelfslider-next, .site-center-aligned .compact-shelf:hover .yt-uix-shelfslider-next {
    right: -15px;
    border-left: 0px none;
}
    

    
/*theater mode player*/

    .watch-stage-mode .player-height {
    height: 600px !important;
}
    .watch-stage-mode .player-width {
    width: 1066px !important;
    left: -533px !important;
}
    .watch-stage-mode .video-stream {
    width: 1066px !important;
    height: 600px !important;
    margin-top: 0px !important;
}
    .ytp-fullscreen .html5-video-container  {
    height: 100% !important;
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
}
    .ytp-fullscreen .html5-video-container .video-stream {
    height: 100% !important;
    width: 100% !important; 
}
    .watch-stage-mode .video-stream {
    left: 0px !important;
    top: 0px !important;
}


    .watch-stage-mode .ytp-chrome-bottom {
    left: 118px !important;
}
    .ytp-fullscreen .ytp-chrome-bottom {
    left: 24px !important;
}
    
    .webgl > canvas:nth-child(1) {
     width: 100% !important;
     height: 100% !important;
}
    
    
/*tables aligned with the theater mode player*/

    .watch-stage-mode #content[class="  content-alignment"] {
    width: 1066px !important;
    min-width: 1066px !important;
    max-width: 1066px !important;
}
    .watch-stage-mode #watch7-container {
    width: 1066px !important;
    min-width: 1066px !important;
    max-width: 1066px !important;
}
    .watch-stage-mode #watch7-sidebar {
    margin-left: 650px !important;
}
    .watch-stage-mode #watch7-content {
    width: 640px !important;
}
    .watch-stage-mode #player-playlist {
    width: 1066px !important;
}
    .watch-stage-mode #watch-appbar-playlist {
    position: absolute !important;
    width: 416px !important;
    height: 420px !important;
    left: 650px !important;
    top: 240px !important;
}

}